<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar', user: @user, beer: @new_beer %>
    <div class="col-md-8 offset-md-1">
      <div class=row">
        <h2 class="my-4"><%= @user.name %>'s beers</h2>
        <%= render 'layouts/search' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @user.beers.each do |beer| %>
            <tr>
              <td>
                <%= link_to user_path(beer.user) do %>
                  <%= image_tag beer.user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td><%= link_to beer.title, beer_path(beer) %></td>
              <td><%= beer.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>