<nav id="main-navbar" class="navbar navbar-light navbar-expand-lg sticky-top p-0">
  <div class="container-fluid justify-content-around">
    <a href="/" class="navbar-brand">
      <%= image_tag 'logo.png', height:"65" %>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#expand-me" aria-label="toggle button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="expand-me" class="collapse navbar-collapse">
      <div class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user), class:"nav-link" do %>
            <i class="bi bi-house-door"></i><br>
            <span>HOME</span>
          <% end %>
          <%= link_to users_path, class:"nav-link" do %>
            <i class="bi bi-people"></i><br>
            <span>USERS</span>
          <% end %>
          <%= link_to beers_path, class:"nav-link" do %>
            <i class="fas fa-beer"></i><br>
            <span>BEERS</span>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
            <i class="bi bi-door-open"></i><br>
            <span>LOG OUT</span>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_root_path, class:"nav-link" do %>
            <i class="bi bi-house-door"></i><br>
            <span>HOME</span>
          <% end %>
          <%= link_to admin_users_path, class:"nav-link" do %>
            <i class="bi bi-people"></i><br>
            <span>USERS</span>
          <% end %>
          <%= link_to admin_beers_path, class:"nav-link" do %>
            <i class="fas fa-beer"></i><br>
            <span>BEERS</span>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link" do %>
            <i class="bi bi-door-open"></i><br>
            <span>LOG OUT</span>
          <% end %>
        <% else %>
          <%= link_to root_path, class:"nav-link" do %>
            <i class="bi bi-house-door"></i><br>
            <span>HOME</span>
          <% end %>
          <%= link_to about_path, class:"nav-link" do %>
            <i class="bi bi-link-45deg"></i><br>
            <span>ABOUT</span>
          <% end %>
          <%= link_to new_user_registration_path(current_user), class:"nav-link" do %>
            <i class="bi bi-person-plus"></i><br>
            <span>SIGN UP</span>
          <% end %>
          <%= link_to new_user_session_path(current_user), class:"nav-link" do %>
            <i class="bi bi-door-open"></i><br>
            <span>LOG IN</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>